.server-pic-bg{
    background-image: url("yardspawn2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blur {
    backdrop-filter: blur(12px) brightness(50%);
    height: 100%;
    width: 100%;
}

.logomask {
    filter: grayscale(100%) brightness(1);
    scale: 1;
    transition: .5s;
}

.logomask:hover {
    scale: 1.5;
    transition: .5s;
    filter: grayscale(0%) brightness(1)
}