@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    outline: none;
    box-sizing: border-box;
}

:root {
    --narbarBg: rgba(14, 14, 14, 100);
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(176 178 187);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg: #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);
    --primary-accent: #f8e047;
    --background-image: url("../assets/clientbg.jpg");
    --dark-primary-background: color-mix(in srgb, var(--primary-accent), #07020D 75%);

    --common-border-radius: 6px;
}

.light-mode {
    --theme-bg-color: rgb(255 255 255 / 31%);
    --theme-color: #3c3a3a;
    --inactive-color: #333333;
    --button-inactive: #3c3a3a;
    --search-bg: rgb(255 255 255 / 31%);
    --dropdown-bg: #f7f7f7;
    --overlay-bg: rgb(255 255 255 / 30%);
    --dropdown-hover: rgb(236 236 236);
    --border-color: rgb(255 255 255 / 35%);
    --popup-bg: rgb(255 255 255);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --scrollbar-bg: rgb(255 253 253 / 57%);
    --content-title-color: --theme-color;
}

@font-face {
    font-family: minecraft;
    font-style: normal;
    font-weight: 400;
    src: local('Minecraft'), url("../assets/MinecraftTen-VGORe.woff") format('woff')
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--body-font);
    background-image: var(--background-image);
    background-size: cover !important;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-bg video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

img {
    max-width: 100%;
}

.dark-light {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: var(--dropdown-bg);
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
}

.theme-color-text {
    color: var(--theme-color);
}

.dark-light svg {
    width: 24px;
    flex-shrink: 0;
    fill: #ffce45;
    stroke: #ffce45;
    transition: 0.5s;
}

.light-mode .dark-light svg {
    fill: transparent;
    stroke: var(--theme-color);
}

.light-mode .content-section ul {
    background-color: var(--theme-bg-color);
}

.light-mode .pop-up__title {
    border-color: var(--theme-color);
}

.light-mode .dropdown.is-active ul {
    background-color: rgba(255, 255, 255, 0.94);
}

body.light-mode:before,
body.light-mode .video-bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
    -webkit-backdrop-filter: saturate(3);
    backdrop-filter: saturate(3);
}

.app {
    background-color: var(--theme-bg-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
}

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    white-space: nowrap;
}

.header-menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-menu button, .header-menu label {
    padding: 4px 12px;
    margin: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--hover-menu-bg);
    text-decoration: none;
    color: var(--inactive-color);
    border-bottom: 2px solid transparent;

}

@media screen and (max-width: 610px) {
    .header-menu button:not(.main-header-link) {
        display: none;
    }
}

.header-menu button.is-active, .header-menu a:hover, .header-menu .inactive, .header-menu label:hover {
    color: var(--theme-color);
    border-bottom: 2px solid var(--primary-accent);
}

.header-menu button.is-active, .header-menu a:hover, .header-menu .active, .header-menu label:hover {
    color: var(--theme-color);
    border-bottom: 6px solid var(--primary-accent);

    background-color: var(--dropdown-bg);

    /* inner shadow */
    box-shadow: inset 0px 2px 2px 2px var(--primary-accent);
    box-shadow: inset 0px 2px 2px 1px var(--primary-accent);
}

.notify {
    position: relative;
}

.notify:before {
    content: "";
    position: absolute;
    background-color: var(--primary-accent);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    right: 20px;
    top: 16px;
}

@media screen and (max-width: 1055px) {
    .notify {
        display: none;
    }
}

.menu-circle {
    width: 15px;
    height: 15px;
    background-color: #f96057;
    border-radius: 50%;
    box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
    margin-right: 195px;
    flex-shrink: 0;
}

@media screen and (max-width: 900px) {
    .menu-circle {
        display: none;
    }

}

.header-notice {
    display: flex;
    align-items: center;
    padding: 0 16px 0 40px;
    margin-left: auto;
    flex-shrink: 0;
}

.header-notice svg {
    width: 22px;
    color: #f9fafb;
    flex-shrink: 0;
}

.notification {
    position: relative;
}

.notification-number {
    position: absolute;
    background-color: var(--primary-accent);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    right: 7px;
    top: -6px;
}

.notification + svg {
    margin-left: 22px;
}

@media screen and (max-width: 945px) {
    .notification + svg {
        display: none;
    }
}

.logo-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-left: 22px;
}

.wide .header-menu,
.wide .header-notice {
    display: none;
}

.wide .menu-circle {
    margin-right: 0;
}

.wrapper {
    display: flex;
    flex-grow: 1;
}

.main-header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 999999;
    align-items: center;
    flex-shrink: 0;
    min-height: 60px;
    background-color: var(--narbarBg);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, transparent, var(--primary-accent), transparent);
    border-image-slice: 1;
}

.main-header .header-menu a {
    padding: 16px 24px;
    margin: auto;
    width: 20%;
}

.main-container {
    background-color: var(--theme-bg-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


@media screen and (max-width: 1055px) {
    .menu-link-main {
        display: none;
    }
}

.backdrop-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--theme-color);
    height: 100%;
    width: 100%;
}

.content-wrapper-box {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: var(--common-border-radius);
    padding: 20px 40px;
}

.audio-content {
    background-color: var(--content-bg);
    border-radius: var(--common-border-radius);
    border: 1px solid var(--theme-bg-color);
    height: 100%;
    width: 100%;
}

.content-wrapper-header {
    background-image: linear-gradient(196deg, rgba(0, 0, 0, 0.2) 23%, var(--primary-accent)), var(--background-image);
    background-position: center;
    background-size: cover;
}

.content-wrapper.overlay {
    pointer-events: none;
    transition: 0.3s;
    background-color: var(--overlay-bg);
}

.overlay-app {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: all;
    background-color: rgba(36, 39, 59, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.overlay-app.is-active {
    visibility: visible;
    opacity: 1;
}

.img-content {
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 0;
}

.img-content svg {
    width: 28px;
    margin-right: 14px;
}

.content-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7em;
    color: #ebecec;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.full {
    width: 100%;
}

.volume-slider {
    border-radius: var(--common-border-radius);
}

.content-pill {
    background-color: var(--primary-accent) !important;
    border: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: var(--common-border-radius);
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
}

.disabled {
    background-color: transparent;
    color: var(--inactive-color);
}

.volume-pill {
    font-size: 50px;
    padding: 4px 12px;
    border-radius: 5px;
    background-color: var(--hover-menu-bg);
    width: fit-content;
    margin-top: -6px;
}

.bust-image {
    width: 90px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media screen and (max-width: 570px) {
    .bust-image {
        width: 110px;
    }
}

.content-section {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.voice-section {
    margin-top: 0;
}

.content-section-title {
    color: var(--content-title-color);
    margin-bottom: 14px;
    padding-top: 30px;
}

.line-break-on-mobile {
    display: none;
}

@media screen and (max-width: 570px) {
    .line-break-on-mobile {
        display: block;
    }
}

.content-section ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    background-color: var(--content-bg);
    padding-left: 0;
    margin: 0;
    border-radius: var(--common-border-radius);
    border: 1px solid var(--theme-bg-color);
    cursor: pointer;
}

.content-section ul li {
    list-style: none;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: 0.3s;
}

.content-section ul li:hover {
    background-color: var(--theme-bg-color);
}

.content-section ul li:hover:first-child {
    border-radius: var(--common-border-radius) var(--common-border-radius) 0 0;
}

.content-section ul li:hover:last-child {
    border-radius: 0 0 var(--common-border-radius) var(--common-border-radius);
}

.content-section ul li + li {
    border-top: var(--common-border-radius) solid var(--border-color);
}

.content-section ul svg {
    width: 28px;
    border-radius: var(--common-border-radius);
    margin-right: 16px;
    flex-shrink: 0;
}

.green {
    background-color: #66e597 !important;
    color: var(--popup-bg);
}

.status-button {
    font-size: 15px;
    margin-top: 0;
    padding: 6px 24px;
}

@media screen and (max-width: 390px) {
    .status-button {
        padding: 6px 14px;
    }
}

.status-button:hover {
    color: #fff;
    border-color: #fff;
}

.content-pill:hover {
    background: #1e59f1;
}

.content-card-collection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.content-card {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-color: color-mix(in srgb, var(--content-bg), var(--dark-primary-background) 80%);
    border-radius: var(--common-border-radius);
    border: 1px solid var(--theme-bg-color);
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.small-card {
    width: calc(25.65% - 15px);
}

@media screen and (min-width: 1510px) {
    .small-vc-card {

        width: calc(25% - 15px) !important;
    }

    .sensitivty-card {
        margin-left: 0px !important;
        width: calc(99.65% - 15px) !important;
    }
}

@media screen and (max-width: 1510px) {
    .small-vc-card {
        width: calc(49% - 15px);
    }

    .small-card {
        margin-top: 20px !important;
    }

    .vc-monitoring-card {
        width: calc(50% - 15px);
        margin-top: 20px;
        margin-left: 0px !important;
    }

    .sensitivty-card {
        margin-left: 20px !important;
    }

    .vc-monitoring-card {
        width: calc(50% - 15px);
    }

    .vc-volume-card {
        width: calc(99.65% - 15px) !important;
        margin-left: 0px !important;
        margin-top: 20px !important;
    }

    .vc-settings-toggle-card {
        margin-left: 20px !important;
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 1100px) {
    .sensitivty-card, .vc-monitoring-card, .small-vc-card {
        width: calc(100% - 15px) !important;
        margin-left: 0px !important;
        margin-top: 10px !important;
    }

}

.vc-monitoring-card {
    width: calc(49% - 15px);
}

.vc-volume-card {
    width: 73.65%;
}

.main-volume-card {
    width: calc(73.65% - 15px);
}

.sensitivty-card {
    margin-bottom: 20px;
    width: calc(49% - 15px);
}

.small-avatar {
    width: 30px !important;
}

.mid-avatar {
    width: 88px;
}

.tiny-slider {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.vc-volume-label {
    font-size: x-large;
}

.vc-settings-box {
    background-color: rgba(0, 0, 0, .6);
    padding: 20px;
    border-radius: var(--common-border-radius);
    transition: 1s;
}

.vc-settings-toggle-card {
    width: calc(22.65% - 15px);
}

.bigger-card {
    width: calc(58.3% - 20px);
}

.wide-card {
    width: calc(66.6%);
}

.settings-card {
    margin-top: 20px;
    margin-left: 20px;
}

.content-card svg {
    width: 28px;
    border-radius: var(--common-border-radius);
    margin-right: 12px;
    flex-shrink: 0;
}

.content-card > span {
    display: flex;
    align-items: center;
}

.content-card-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 20px;
}

.content-card-content-border-bottom {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
}

#extra-vc-settings {
    margin-top: 20px;
}

.content-card-buttons {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-top: 16px;
    height: 100%;

}

.content-card {
    /* Flex card side by side, or stack if there is not enough room */
    display: flex;
    flex-direction: column;
}


::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}

.soft-text {
    color: var(--inactive-color);
}

input[type=range]::-moz-range-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: white;
    box-shadow: -608px 0 0 600px var(--dropdown-hover);
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: white;
    box-shadow: -908px 0 0 900px var(--primary-accent);
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb.disabled {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: transparent;
    border-radius: 50%;
}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: var(--hover-menu-bg);
}

.w90 {
    width: 90%;
}


.avatar {
    width: 40px;
    display: inline-flex;
    position: relative;
    margin-right: 10px;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex {
    display: flex;
}

.red {
    color: rgb(239, 68, 68);
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(16 18 27 / 40%);
    z-index: 99999;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.big-text {
    font-size: 50px;
}


.alert-box {
    font-size: 16px;
    background-color: var(--content-bg);
    background-size: cover;
    line-height: 1.3em;
    padding: 11px 15px;
    margin: 2.5px 5px;
    position: relative;
    border-radius: 5px;
    transition: opacity 0.5s ease-in;
}

.alert-message-button {
    border: 1px solid;
    border-radius: 5px;
    margin-top: 40px;
    padding: 8px;
}

.alert-box.hide {
    opacity: 0;
}

.alert-close {
    background: transparent;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.alert-close:before,
.alert-close:after {
    content: '';
    width: 15px;
    border-top: solid 2px white;
    position: absolute;
    top: 5px;
    right: -1px;
    display: block;
}

.alert-close:before {
    transform: rotate(45deg);
}

.alert-close:after {
    transform: rotate(135deg);
}

.alert-close:hover:before,
.alert-close:hover:after {
    border-top: solid 2px #d8d8d8;
}

.small-pill {
    border: none;
    padding: 3px 10px;
    border-radius: 16px;
    margin-top: -2px;
    transition: 0.3s;
    white-space: nowrap;
    margin-left: 10px;
}

.premium {
    border: 2px solid var(--primary-accent);
    color: white;
}

.free {
    border: 2px solid var(--inactive-color);
    color: white;
}

footer {
    padding: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}


.sc-cover {
    border-radius: 3px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 75px;
    z-index: 3;
    border: 5px solid #242424;
    translateY: -100%;
}

.sc-title {
    border-radius: 3px;
    position: absolute;
    text-align: left;
    left: 70px;
    z-index: 2;
    padding: 5px;
    padding-left: 20px;
    background-color: #242424;
    bottom: 30px;
    font-size: 18px;
}

.bulb {
    display: inline-block;
    padding: 20px;
}

.shockwave {
    -webkit-animation: shockwaveJump 1s ease-out;
    animation: shockwaveJump 1s ease-out;
}

@-webkit-keyframes shockwaveJump {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(0.98);
    }
    55% {
        transform: scale(1.02);
    }
    60% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shockwaveJump {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(0.98);
    }
    55% {
        transform: scale(1.02);
    }
    60% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shockwaveJump {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(0.98);
    }
    55% {
        transform: scale(1.02);
    }
    60% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

.reversedRange {
    direction: rtl
}

.landing-thing {
    border-radius: var(--common-border-radius);
    height: 100%;
    width: 100%;
}

.themed-text {
    color: var(--primary-accent)
}

.themed-bg {
    background-color: var(--primary-accent)
}

.navbar-bg {
    background: linear-gradient(
            167deg, var(--dark-primary-background) 50%,
            color-mix(in srgb, var(--primary-accent), var(--dark-primary-background) 65%),
            var(--dark-primary-background) 100%
    );
}

.navbar-bg-button {
    background-color: #0F0A0A;
}

.navbar-button-active {
    background-color: color-mix(in srgb, var(--primary-accent), #07020D 55%) !important;
}

.login-image {
    background-image: var(--background-image);
    width: 100%;
    height: 270%;
    display: table;
    background-position: center;
    background-size: cover;
}

span.tab {
    font-size: large;
}

.tab > label.active {
    outline: none;
}

.rounding-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rounding-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.jumbo-text {
    font-size: 100px;
}
.speaking {
    background-color: lime;
    box-shadow: 0 0 0 25px #1cb91c;
    animation: pulseAndGrow .5s infinite alternate;
    border-radius: 50%; /* Optional: For a circular shape */
}

.speaking-small {
    background-color: lime;
    box-shadow: 0 0 0 5px #1cb91c;
    animation: pulseAndGrow .5s infinite alternate;
    border-radius: 50%; /* Optional: For a circular shape */
}

@keyframes pulseAndGrow {
    0% {
        box-shadow: 0 0 2px 2px rgba(255, 0, 255, 0.5); /* Neon pink pulse */
    }
    50% {
        box-shadow: 0 0 5px 5px rgba(0, 255, 255, 0.8); /* Neon blue pulse */
    }
    100% {
        box-shadow: 0 0 2px 2px rgba(255, 0, 255, 0.5); /* Neon pink pulse */
    }
}


.muted-self {
    /* grayscale and blur */
    filter: grayscale(100%) blur(3px);
}

.hiddennp {
    display: none;
}

@media (max-width: 767px) {
    .hidden-on-mobile {
        display: none !important;
    }
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 50px;
    background-color: #888;
    border-radius: 20%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.slider:hover::-webkit-slider-thumb {
    background-color: #555;
}

pre {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.common-rounded {
    border-radius: var(--common-border-radius);
}

.serverimage {
    content: var(--background-image);
}

.disabled-bt {
    pointer-events: none;
    opacity: 0.4; /* Adjust the opacity value to control the level of disabled effect */
    background-color: #ccc; /* Adjust the background color for the disabled look */
    border: rgba(255, 0, 0, 0.46) 1px solid;
}

.audio-page-bg {
    background: linear-gradient(
            78deg, var(--dark-primary-background) 43%,
            transparent,
            color-mix(in srgb, transparent, var(--dark-primary-background) 70%) 100%
    ), var(--background-image);
    background-size: cover;
    background-position-y: center;
}

.dark-bg {
    background-color: #07020D;
}

.accent-bg {
    background-color: var(--primary-accent);
}
