# Intellij
.classpath
.project
.settings
eclipse
.idea
*.iml
*.ipr
*.iws
.DS_Store
bin

# Out
.idea/*
out
out/*

# Sublime text
.vscode/*

# Custom
test-server-spigot/
test-server-spigot-legacy/
test-server-bungee/
test-server-vistas/
test-server/
.buildconfig
javadoc/