@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    vertical-align: middle;
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(98, 90, 238, 0.45),
                    rgba(98, 90, 238, 0.35)
            ),
                /* bottom, image */
            url(../assets/background.png);
    font-family: 'Roboto';
}


img{
    filter: invert(100%);
    position: absolute;
    z-index: 1;
    align:top;
    cursor: pointer;
}
.random{
    width:60%;
    height:70%;
    background: #22262F;
    position: absolute;
    left:50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    top:50%;
    box-shadow: 0 14px 30px rgba(0,0,0,0.25), 0 10px 30px rgba(0,0,0,0.22);
    transition: all 0.4s;
}
.settingsFooter {
    font-size: 2vh;
    color: #707377;
    right: 4%;
    position: absolute;
    bottom: 0;
}


.hueFooter {
    font-size: 2vh;
    color: #707377;
    right: 14%;
    position: absolute;
    bottom: 0;
}

.footer{
    font-size: 2vh;
    color: #707377;
    left: 4%;
    position: absolute;
    bottom: 0;
}

.google{
    padding-left: 82%;
    float: left;
    font-size: 2vh;
    color: #707377;
    bottom: 0px;
    position: absolute;
}
.random-word h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:25%;
    font-size: 8vw;
    color: #fff;
}

.random-word h2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:35%;
    font-size: 5vw;
    color: #fff;
}

.random-word p{
    font-size: 2.5vh;
    color: #707377;
    text-align: center;
    left:50%;
    transform: translate(-50%, -50%);
    top:65%;
    position: absolute;

}

.hue-page h2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:10%;
    font-size: 2vw;
    color: #fff;
}

.hue-page div{
    font-size: 2.5vh;
    color: #707377;
    text-align: center;
    left:50%;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
}

#bridge-list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#bridge-list td, #bridge-list th {
    padding: 8px;
    color: #707377;
}

#bridge-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.random-word p:nth-child(1){
    font-size: 3vh;
    position: absolute;
    top:20%;
}
/*CSS Loader*/

.loader {
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 64px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
    left: 6px;
    animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
    left: 6px;
    animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
    left: 26px;
    animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
    left: 45px;
    animation: loader3 0.6s infinite;
}
@keyframes loader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
/**/
.blurrOut{
    animation-name:blurrOut;
    animation-duration: 0.5s;
}
@keyframes blurrOut{
    0% {
        opacity: 0;

        filter: blur(90px);
    }

    100% {
        opacity: 1;

        filter: blur(0px);
    }
}

input[type="range"]{
    -webkit-appearance:none;
    width:70%;
    height:20px;
    background: linear-gradient(to right, rgba(98, 90, 238, 0.25) 0%, rgba(98, 90, 238, 1) 100%);
    overflow:hidden;
    outline: none;
    border-radius: 10px;
}

input[type="range"]:first-of-type{
    margin-top:30px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    position:relative;
    background-color: #FF1744;
    border-radius: 10px;
}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spinner {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.button {
    background-color: #00C853;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color:#3498DB;
    background-repeat:no-repeat;
    background-position: right 10px top 15px;
    background-size: 16px 16px;
    color:white;
    padding:12px;
    width:auto;
    font-family:arial,tahoma;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-appearance: none;
    border:0;
    outline:0;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}

.blue-select {
    background-color:rgb(98, 90, 238);
}
