@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

body {
    vertical-align: middle;
    background: linear-gradient(
            rgba(98, 90, 238, 0.45),
            rgba(98, 90, 238, 0.25)
    ),
    url(../assets/bg.png);
    font-family: 'Raleway';
    -webkit-background-size: cover;
    background-size: cover;
}

.blur {
    filter: blur(7px);
}

.dark-bg {
    background-position:-9999px;
    background: #1D1F20;
    transition: 2s;
}

img {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.panel {
    border-radius: 5px;
    width: 30%;
    height: 60%;
    background-image: linear-gradient(
            #2c2c33,
            #1a1a1d
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25), 0 10px 30px rgba(0, 0, 0, 0.22);
    transition: all 0.4s;
}

.wider-panel {
    width: 55%;
}

.panel-small {
    width: 35%;
    height: 15%;
}

.hueFooter {
    font-size: 2vh;
    color: rgb(114, 114, 117);
    right: 4%;
    position: absolute;
    bottom: 0;
}

.footer {
    font-size: 2vh;
    color: #b66c00;
    left: 4%;
    position: absolute;
    bottom: 0;
}

.panel-content h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
    font-size: 2vw;
    color: #fff;
}

.panel-content h2 {
    left: 50%;
    font-size: 5vw;
    color: #fff;
}

.panel-content p {
    font-size: 2.5vh;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 65%;
    position: absolute;
}

.home-panel {
    min-width: 34%;
    height: 35%;
}

.home {
    top: 45% !important;
    width: 90%;
}

.hue-page h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10%;
    text-transform: uppercase;
    font-size: 2vw;
    color: #fff;
}

.hue-page .content {
    font-size: 2.5vh;
    color: rgb(160, 140, 238);
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
}

.hue-page .menu {
    font-size: 2.5vh;
    color: rgb(160, 140, 238);
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 50%;
    position: fixed;
}

.prompt-press {
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    position: absolute;
    top: 15%;
}

.bulbs {
    width:50%;
}

.bulb {
    color: white;
    height: 50px;
    display: inline-block;
    width:33.33%;
    margin-right:-4px;
}


.blurIn {
    animation-name: blurIn;
    animation-duration: 0.7s;
}

@keyframes blurIn {
    0% {
        opacity: 0;

        filter: blur(90px);
    }

    100% {
        opacity: 1;

        filter: blur(0px);
    }
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, rgba(98, 90, 238, 0.25) 0%, rgba(98, 90, 238, 1) 100%);
    outline: none;
    border-radius: 5px
}

input[type="range"]:first-of-type {
    margin-top: 30px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 30px;
    z-index: 999;
    position: relative;
    background-color: white;
    border-radius: 5px
}

.button {
    color: #ff9800;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 13px;
    border-style: solid;
    border-color: #ff9800;
    border-width: 2px;
}

.button-inactive {
    color: #4db6ac;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: #4db6ac;
    border-width: 2px;
}

.graytext {
    color: #707377;
}

select {
    background-color: #3498DB;
    padding: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 0;
    outline: 0;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.center {
    display: block;
    text-align: -webkit-center;
}

.blue-select {
    background-color: rgb(98, 90, 238);
    border-radius: 20px;
    font-size: 15px;
}

.small-text {
    width: 50%;
}

.light-dropdown {
    margin-top: 4px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

.dot {
    transition: 1s;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.light {
    text-align: center;
}

.skull-image {
    margin: auto;
    height: 35%;
    top: -30%;
    left: 0;
    right: 0;
    bottom: 20%;
    border-radius: 10%;
}

footer {
    background-color: rgb(30, 30, 33);
    padding: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer a {
    color: #ffffff;
}

.alert-area {
    max-height: 100%;
    position: fixed;
    top: 5px;
    left: 20px;
    right: 20px;
}

.call-control-left {
    z-index: 99999;
    max-height: 95%;
    position: absolute;
    padding-top: 5px;
    left: 20px;
    max-width: 25%;
    overflow-y: auto
}


.alert-area-left {
    max-height: 80%;
    position: absolute;
    padding-top: 100px;
    left: 20px;
    max-width: 25%;
    overflow-y: auto
}

.alert-box {
    font-size: 16px;
    color: white;
    background-image: linear-gradient( #2c2c33, #1a1a1d );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.3em;
    padding: 1px 5px;
    margin: 2.5px 5px;
    position: relative;
    border-radius: 5px;
    transition: opacity 0.5s ease-in;
}

.alert-box.hide {
    opacity: 0;
}

.alert-close {
    background: transparent;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.alert-close:before,
.alert-close:after {
    content: '';
    width: 15px;
    border-top: solid 2px white;
    position: absolute;
    top: 5px;
    right: -1px;
    display: block;
}

.alert-close:before {
    transform: rotate(45deg);
}

.alert-close:after {
    transform: rotate(135deg);
}

.alert-close:hover:before,
.alert-close:hover:after {
    border-top: solid 2px #d8d8d8;
}

@media (max-width: 767px) and (min-width: 481px) {
    .alert-area {
        left: 100px;
        right: 100px;
    }
}

@media (min-width: 768px) {
    .alert-area {
        width: 350px;
        left: auto;
        right: 0;
    }
}

/* ALERT RELATED CLASS (END) */

.alert-message-container {
    text-align: center;
    line-height: 2.5em;
    margin-top: 50px;
}

.alert-message-box {
    font-size: 20px;
    width: 500px;
    border: solid 1px #444;
    padding: 10px 15px;
    outline: none;
    transition: box-shadow 0.1s;
}

.alert-message-box:focus {
    box-shadow: 0 0 15px 2px #888;
}

.alert-message-button {
    font-size: 18px;
    color: white;
    background: #14b9ff;
    width: 250px;
    border: solid 1px #14b9ff;
    padding: 10px 20px;
    margin-top: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
    border-radius: 8px;
}

.alert-message-button:hover,
.alert-message-button:focus,
.alert-message-button:active {
    background: #7dd8ff;
    border-radius: 2px;
}
.alert-message-button:disabled {
    background: rgba(125, 216, 255, 0.23) !important;
}

.warning {
    background: red !important;
}

.call-box {
    /* Add the blur effect */
    filter: blur(14px);
    -webkit-filter: blur(14px);

    /* Full height */
    height: 40px;
    width: 100px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.call-content {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0%;
}

.footer-welcome {
    float: right;
    margin: 0px;
    padding: 0px 100px 0px 0px;
    color: rgb(114, 114, 117);
}

.footer-skull {
    right: 15px;
    bottom: 10px;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    border: 8px;
    border-style: solid;
    border-color: rgb(30, 30, 33);
}

.notice {
    position: absolute;
    left: 10px;
    color: rgb(114, 114, 117);
}

.notice a {
    color: inherit;
}

.volume-display {
    font-size: 4rem;
    background: #00B0FF;
    border-radius: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

@keyframes fading-border {
    0% {background: linear-gradient(red, rgba(0,0,0,0), red);}
    50% {background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));}
    100% {background: linear-gradient(red, rgba(0,0,0,0), red);}
}

.mutedUser {
    animation: fading-border 2s linear infinite;
}

.pointer-event {
    pointer-events: none
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    z-index: 250;
}

.call-modal {
    position: fixed;
    left: 50%;
    font-family: Open Sans;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 500;
}

.modal-inner {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: .5rem;
}
.modal-inner .modal-top {
    background: #00B0FF;
    color: #fff;
    padding: 2rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    text-align: center;
}
.modal-inner .modal-top b {
    font-size: 2.25rem;
    margin-bottom: .25rem;
    display: block;
}
.modal-inner .modal-top h4 {
    font-weight: 200;
    margin-bottom: 0;
}
.modal-inner .modal-content {
    position: relative;
    background: #f5f5f5;
    border-radius: 0;
    border: 0;
    padding: 2rem;
    overflow: hidden;
    display: none;
}
.modal-inner .modal-bottom {
    background: rgb(30, 30, 33);
    padding: 1rem;
    text-align: center;
    border: 1px solid transparent;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.modal-btn {
    display: inline-block;
    border: 1px solid white;
    padding: .75rem 2.25rem;
    border-radius: 5px;
    color: white;
    margin: .5rem;
}
.modal-btn:hover, .modal-btn:focus {
    text-decoration: none;
    color: #2196F3;
}

.register-slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2rem;
    transition: 600ms ease;
    -webkit-transform: translateX(25vw);
    transform: translateX(25vw);
}
@media (max-width: 1600px) {
    .register-slide {
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
    }
}

.active-register {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.login-form {
    transition: 600ms ease;
}

.move-form {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
}
@media (max-width: 1600px) {
    .move-form {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
    }
}

.register-link {
    position: relative;
    left: 1rem;
    top: 1px;
}

.close-register {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #999;
}

.close-register:hover, .close-register:focus {
    color: #999;
    text-decoration: none;
}

.accept-button {
    border: 1px solid lime;
}

.deny-button {
    border: 1px solid orangered;
}
