@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    vertical-align: middle;
    background: linear-gradient(
            rgba(98, 90, 238, 0.45),
            rgba(98, 90, 238, 0.25)
    ),
    url(../assets/background.png);
    font-family: 'Roboto', serif;
    -webkit-background-size: cover;
    background-size: cover;
}

img {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.panel {
    width: 100%;
    height: 65%;
    background-image: linear-gradient(
            rgba(30, 27, 69, 0.34),
            #353535
    ),
    url(../assets/background.png);
    background-position: center;
    background-size: inherit;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25), 0 10px 30px rgba(0, 0, 0, 0.22);
    transition: all 0.4s;
}

.hueFooter {
    font-size: 2vh;
    color: #ffa600;
    right: 4%;
    position: absolute;
    bottom: 0;
}

.footer {
    font-size: 2vh;
    color: #b66c00;
    left: 4%;
    position: absolute;
    bottom: 0;
}

.panel-content h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
    font-size: 2vw;
    color: #ffa600;
}

.panel-content h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;
    font-size: 5vw;
    color: #ffa600;
}

.panel-content p {
    font-size: 2.5vh;
    color: rgb(160, 140, 238);
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 65%;
    position: absolute;
}

.hue-page h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10%;
    text-transform: uppercase;
    font-size: 2vw;
    color: #fff;
}

.hue-page .content {
    font-size: 2.5vh;
    color: rgb(160, 140, 238);
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
}

.hue-page .menu {
    font-size: 2.5vh;
    color: rgb(160, 140, 238);
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 50%;
    position: fixed;
}

.bulbs {
    width:50%;
}

.bulb {
    height: 50px;
    display: inline-block;
    width:33.33%;
    margin-right:-4px;
}


.blurIn {
    animation-name: blurIn;
    animation-duration: 0.7s;
}

@keyframes blurIn {
    0% {
        opacity: 0;

        filter: blur(90px);
    }

    100% {
        opacity: 1;

        filter: blur(0px);
    }
}

input[type="range"] {
    -webkit-appearance: none;
    width: 70%;
    height: 20px;
    background: linear-gradient(to right, rgba(98, 90, 238, 0.25) 0%, rgba(98, 90, 238, 1) 100%);
    overflow: hidden;
    outline: none;
    border-radius: 10px;
}

input[type="range"]:first-of-type {
    margin-top: 30px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: #FF1744;
    border-radius: 10px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes border {
    0% {
        box-shadow: 0 5px 8px rgba(98, 90, 238, 0.45), 0 5px 8px rgba(98, 90, 238, 0.25);
    }

    25% {
        box-shadow: 0 10px 20px rgb(146, 8, 0), 0 5px 8px rgba(98, 90, 238, 0.25);
        transform: rotate(-15deg);
    }

    50% {
        box-shadow: 0 20px 40px rgba(98, 90, 238, 0.45), 0 5px 8px rgba(98, 90, 238, 0.25);
        transform: rotate(10deg);
    }

    98% {
        box-shadow: 0 5px 8px rgba(98, 90, 238, 0.45), 0 5px 8px rgba(98, 90, 238, 0.25);
    }

    100% {
        box-shadow: 0 5px 8px rgba(98, 90, 238, 0.45), 0 5px 8px rgba(98, 90, 238, 0.25);
    }
}

.spinner {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.button {
    color: #ff9800;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: #ff9800;
    border-width: 2px;
}

.button-inactive {
    color: #4db6ac;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: #4db6ac;
    border-width: 2px;
}

.graytext {
    color: #707377;
}

select {
    background-color: #3498DB;
    padding: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 0;
    outline: 0;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.center {
    display: block;
    text-align: -webkit-center;
}

.blue-select {
    background-color: rgb(98, 90, 238);
    border-radius: 20px;
    font-size: 15px;
}

.small-text {
    width: 50%;
}

.light-dropdown {
    margin-top: 4px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

.dot {
    transition: 1s;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.light {
    text-align: center;
}

.skull-image {
    position: absolute;
    margin: auto;
    height: 30%;
    top: -15%;
    left: 0;
    right: 0;
    bottom: 20%;
    animation: border 10s alternate infinite;
    border-radius: 10%;
}
