body {
	padding-top: 70px;
	background-image: url("../../../img/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
