body { padding-top: 70px; 
background-image: url("../Images/bg.png");
background-attachment: fixed;
	background-size:cover;
background-repeat: no-repeat

}
.codebox {
    /* Below are styles for the codebox (not the code itself) */
    border:1px solid black;
    background-color:#EEEEFF;
    overflow:auto;    
    padding:10px;
}
.codebox code {
    /* Styles in here affect the text of the codebox */
    font-size:0.9em;
    /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
}