.classpath
.project
.settings
eclipse
.idea
*.iml
*.ipr
*.iws

bin

.idea/*
dependency-reduced-pom.xml
*.eml
*.iml
*.userlibraries
.settings/*
target/classes/*
target/maven-archiver/*
target/maven-status/*
target/generated-sources/*