.moderation-warning {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;

    box-shadow: inset 0 0 0 2px red;
    background-color: color-mix(in srgb, var(--dark-primary-background), red 25%);
}
