@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Raleway', sans-serif;
    width:100px;
	height:100px;
	background-image: url("../Images/bg.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat

}
p {
	color:#CCC;
}
.spacing {
	padding-top:7px;
	padding-bottom:7px;
}
.page-header {
    padding-bottom: 1px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.logo {	
	color:#E3F2FD;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #009688;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #009688;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #009688;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #009688;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #009688;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #009688;
}
input[type=range]:focus::-ms-fill-upper {
  background: #009688;
}
.draai {

    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.zero-clipboard {
    position: relative;
}
.btn-clipboard {
    position: absolute;
    top: 0;
    right: 15;
}
.btn-clipboard2 {
    position: absolute;
    top: 2;
    right: 45;
}
.white-bg{
    background:#ffffff !important;
}
.close-streaming {
	display: inline;
	align-content: right;
	align-self: right;
	align-items: right;
	right: 10px;
	position: absolute;
}
.streamingLogo {
	height: 25px;
	width: 25px;
}