@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
@import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");


footer {
    background-color: #201c2f;
    border-top: 2px solid #304FFE;
    padding: 10px;
    height: 40px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.notice {
    position: absolute;
    left: 10px;
    color: rgb(114, 114, 117);
}

.notice a {
    color: inherit;
}

html {
    display: -webkit-box;
    display: flex;
}

body {
    margin: auto;
    width: 100%;
    background: #201c2f;
    -webkit-text-size-adjust: 100%;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

input {
    -webkit-appearance: none;
}

html, body {
    min-height: 100%;
}

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Lato';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html, body {
    min-height: 100%;
}

.table-wrapper > ul {
    opacity: 0;
    -webkit-animation: nav-fade .5s forwards;
    animation: nav-fade .5s forwards;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}

.material-button {
    background-color: #FB5555;
    cursor: pointer;
    height: 44px;
    width: 44px;
    border-radius: 100%;
    position: absolute;
    bottom: -20px;
    right: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.material-button:before {
    content: "+";
    text-align: center;
    display: block;
    font-size: 34px;
}

.material-button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container {
    margin: auto;
    width: 100%;
    border-radius: 0;
}

.header-wrapper {
    background-image: linear-gradient(220deg, rgba(21, 87, 153, 0.5), rgba(231, 76, 60, 0.8)), url(https://mindgamesnl.github.io/OpenAudioMc/production-client/assets/bg.jpg);
    flex-basis: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    margin: auto;
    padding: 70px 40px 60px;
}

@-webkit-keyframes bannerAnimation {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@-moz-keyframes bannerAnimation {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@keyframes bannerAnimation {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

.header-wrapper * {
    color: #fff;
}

.header-wrapper .title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 40px;
}

.header-wrapper .note {
    color: #C6C5D1;
    font-weight: 500;
    font-size: .85rem;
}

.header-wrapper .logo {
    color: #FF9081;
    display: -webkit-box;
    display: flex;
    float: left;
    font-weight: bold;
    margin-top: -30px;
    height: 25px;
    width: 25px;
    text-transform: uppercase;
    background: url("../assets/logo.png");
    background-size: cover;
}

.header-wrapper .nav1 {
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    float: right;
    margin-top: -30px;
    width: 150px;
}

.header-wrapper .nav1 li {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: right;
    font-size: .9rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-wrapper .nav1 li:hover {
    opacity: .7;
}

.header-wrapper .nav2 {
    display: -webkit-box;
    display: flex;
    float: left;
    margin-top: 50px;
    width: 400px;
}

.header-wrapper .nav2 li {
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 1px;
    margin-right: 30px;
    opacity: .4;
    padding-bottom: 10px;
    cursor: not-allowed;
}

.header-wrapper .nav2 li.active {
    position: relative;
    cursor: default;
    opacity: 1;
}

.header-wrapper .nav2 li.active:after {
    content: "";
    background-color: #5092d5;
    width: 100%;
    height: 4px;
    bottom: -7px;
    position: absolute;
    left: 0;
}

.focus {
    color: #fff;
}

.content-wrapper {
    background: #201c2f;
    border-radius: 0 0 5px 5px;
    display: -webkit-box;
    display: flex;
    padding: 40px;
}

.table-wrapper {
    background: #28263d;
    border-radius: 5px;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 10px auto;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.horizontal {
    display: -webkit-box;
    display: flex;
}

.col.data {
    border-bottom: 1px solid #201c2f;
    padding: 30px 0;
    position: relative;
}

.col.data:last-child {
    border-bottom: 0 none;
    padding-bottom: 0;
}

.col.data .content:last-child {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.col .content {
    position: relative;
}

.col.header {
    color: #ceefef;
    font-size: .7rem;
    text-transform: uppercase;
}

.col .content {
    color: #ceefef;
}

.col .secondary {
    margin-top: 6px;
    color: #a8a3a3;
    font-size: .8rem;
}

.year {
    color: #bbb;
}

.has-image {
    padding-left: 45px;
    position: relative;
}

.has-image:before {
    background-color: #ddd;
    border-radius: 100%;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 30px;
}

@-webkit-keyframes nav-fade {
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes nav-fade {
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.icon {
    cursor: pointer;
    position: relative;
    padding: 15px;
    opacity: .5;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    opacity: 1;
}

.icon:before {
    color: #5092D5;
    font-family: 'FontAwesome';
    font-size: 20px;
}

.icon.play:before {
    content: "\f04b";
}


.icon.edit:before {
    content: "\f040";
}

.icon.delete:before {
    content: "\f1f8";
}

.icon-wrapper {
    float: right;
    margin-top: 12px;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 7px;
    position: absolute;
    border-radius: 5px;
    font-size: .8rem;
    z-index: 999;
    top: -20px;
    margin: auto;
    right: 0;
    text-align: center;
    opacity: 1;
    display: table;
}

[data-tooltip].edit:hover:after {
    left: 5px;
}

[data-tooltip].delete:hover:after {
    left: -4px;
}

.col .content:first-child {
    flex-basis: 15%;
    -webkit-box-flex: 0;
    flex-grow: 0;
}

.col .content:nth-child(2) {
    flex-basis: 30%;
}

.col .content:nth-child(3) {
    flex-basis: 25%;
}

.col .content:nth-child(4) {
    text-align: right;
    flex-basis: 10%;
}