@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 13px;
    color: #313131;
}

h1,
h2 {
    font-weight: 300;
}

h3 {
    font-weight: 400;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    list-style: none;
}

.wrapper {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    width: 100%;
    padding-bottom: 40px;
    position: relative;
}

.logo {
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 300px;
}

.logo .circ {
    text-align: center;
    line-height: 100px;
    color: #e74c3c;
    height: 100px;
    width: 100px;
    margin: auto;
    border: 1px solid #313131;
    border-radius: 50%;
    font-size: 38px;
}

.logo span {
    vertical-align: top;
    position: relative;
    top: -3px;
}

.logo span:first-child {
    padding-right: 5px;
}

.logo span:last-child {
    padding-left: 5px;
}

.logo h1 {
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}

.error-note {
    padding: 10px;
    border: 1px solid #e74c3c;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff7f7;
    border-radius: 3px;
    color: #e74c3c;
    text-align: center;
}

.error-note span {
    font-weight: 600;
}

.screen img {
    max-width: 700px;
    display: block;
    margin: auto;
}

hr {
    border: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    margin-top: 30px;
}

aside {
    border-right: 1px solid #eee;
    float: left;
    width: 160px;
    padding-bottom: 20px;
    margin-top: 40px;
}

aside a {
    display: block;
    padding: 20px 0;
}

aside li:first-of-type a {
    padding-top: 10px;
}

.clear:after {
    content: "";
    clear: both;
    display: table;
}


.documentation-content {
    float: right;
    width: 600px;
    padding: 40px;
}

.documentation-section {
    margin-top: 20px;
}

.documentation-section h3 {
    text-decoration: underline;
}

.documentation-section h3 span {
    color: #888;
    text-decoration: none;
    display: inline-block;
    padding-left: 5px;
    font-size: 10px;
}

.documentation-section p {
    margin-top: 5px;
}

.documentation-section a {
    color: #e74c3c;
}

.code-block {
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    color: #616161;
    overflow-x: scroll;
}

.u-list {
    list-style: circle;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.inline-comment {
    color: #bbb;
}

.drag-sidebar {
    position: fixed;
    top: 0;
}

.inline-code {
    background-color: #f5f5f5;
    color: #e74c3c;
    padding: 2px 5px;
}

.view-on-github {
    padding: 5px 10px;
    font-size: 11px;
    display: inline-block;
    border-radius: 3px;
    margin: 20px 0;
    border: 1px solid #e74c3c;
}

.view-on-github:hover {
    text-decoration: none;
    border-color: transparent;;
}

iframe {
    float: right;
}